#main-content {
  max-width: 40em;
  margin: auto;
}

h1 {
  margin-bottom: 2em;
}

label {
  margin-bottom: 2em;
  font-weight: 500;
  font-size: 1.2em;
}

button[type="submit"] {
  width: 100%;
  border-radius: 1.5em;
  margin-top: 1em;
}