/* Body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #1a1a1a;
    color: #fff;
}

#title {
    text-align: center;
    font-size: 75px;
}

button {
    border: 0;
}

/* Header styles */
h1 {
    color: #fff;
    margin-left: 20px; /* Add margin to the left of headers */
}

/* Form styles */
form {
    margin: 20px;
    padding: 30px; /* Add padding inside the form */
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

label {
    display: block;
    margin-bottom: 15px; /* Increase margin bottom for labels */
    color: #fff;
}

input[type="text"],
input[type="password"],
input[type="number"] {
    width: calc(100% - 20px); /* Reduce input width to leave space for padding */
    padding: 10px;
    margin-bottom: 20px; /* Increase margin bottom for inputs */
    border: 1px solid #444;
    border-radius: 6px;
    background-color: #555;
    color: #fff;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    color: #007bff;
    text-decoration: none;
    margin-right: 10px;
}

a:hover {
    color: #0056b3;
}

/* Add general padding to the body content */
body > * {
    padding: 20px
}



@import url('/static/universal.css');