<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | The Social</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='universal.css') }}">
</head>

<body>
    <section>
        <div class="container">
            <img id="logo" src="/static/imgs/logo.png" height="120" width="120" alt="">
            <p id="about" class="text-center mt-0">A Fun Little Social App</p>
            <main class="mt-7">
                <h1 class="text-center">Login</h1>
                <form action="/home" method="post">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required><br><br>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required><br><br>
                    <input type="submit" value="Login">
                </form>
                <p>Don't have an account? <a href="/signup">Sign Up</a></p>
            </main>
        </div>
    </section>
</body>

</html>
