<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!-- Link to your CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='universal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
</head>
<body>
    {% include 'header.html' %}
    <main>
        <section>
            <div class="container">
                <div id="main-content">
                    <h1>User Search</h1>
                    <form action="/search" method="GET">
                        <label for="search_username">Search by username:</label>
                        <input type="text" id="search_username" name="search_username" required>
                        <button type="submit" class="cta text-xl">Search</button>
                    </form>
    
                    <!-- Display search results or user not found message -->
                    {% if user_data %}
                        <form action="/addfriend" method="POST">
                            <h2>Search Results</h2>
                            <p><strong>Name:</strong> {{ user_data[1] }}</p>
                            <p><strong>Username:</strong> {{ user_data[2] }}</p>
                            <p><strong>Age:</strong> {{ user_data[4] }}</p>
                            <!-- Add more profile information as needed -->
                            <!-- Hidden element to store the username for the form -->
                            <input type="hidden" name="username" value="{{ user_data[2]}}">
                            <input type="submit" value="Add Friend">
                        </form>
                    {% elif user_not_found and search_username%}
                        <p>Nothing found.</p>
                    {% endif %}
                </div>
            </div>
        </section>
    </main>
    {% include 'footer.html' %}
</body>
</html>